body,html{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

.image-container{
    position:relative;
    width:100vw;
    height:100vh;
    overflow: hidden;

}

.computer-screen{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
    

}

.overlay_moniter{
    position: absolute;
    top: 23.96%;
    left: 19.08%;
    width: 62.05%;
    height:61.80%;
    background-image: url("../assets/versehunt_assets/pexels-eberhardgross-1421903.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow:hidden;
    /* display: none; */
}

.icon-container{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    height:93%;
    width:100%;
    
}
.footer{
    height:7%;
    width:100%;
    background-color: rgb(21, 20, 20);
    border-top:1px solid rgba(255, 255, 255, 0.638);
}
.desktop_icons {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    
  
}

.desktop_icons > img{
    height: 150px;
    width: 150px;
    
}

.desktop_icons > p{
    color:white;
    font-weight: bold;
}

.tabbedPane.hide{
    display: none;
}
.tabbedPane.show{
    display: block;
}